.main-div{
  display: flex;
  flex-direction: row;
}

.esquerda{
  width: 50%;
  display: flex;
  align-items: center; 
  flex-direction: column;
  
}

.direita{
  width: 50%;  
}

.login-form{
  display: flex;
  flex-direction: column;
}

.img-login{
  width: 50%;
  position: fixed;
}

.img-logo{
  margin-top: 10%;
  margin-bottom: 10%;
  width: 50%;
}

.no-account a{
  color: blue;
  font-size: 12px;

}
