<div class="main-div">
    <div class="esquerda">

        <img class="img-logo" src="../../assets/img/logo-sisvendas2.png">
    
        <div class="contact">
            <h2>Contato</h2>
            <hr>
            
            <section>
                <p>Fone: (61) 3388 4255</p>
                <p>Email: junior.speedtech@gmail.com</p>
            </section>
            
            <section>
                <div class="login-page">
                    <a mat-button routerLink="../login">Já tenho uma conta.</a>
                </div>
            </section>
            
            <section>
                <p>SpeedTech Informática - Brasilia-DF</p>
                <p>CNPJ: 33.809.556/0001-82</p>  
            </section>
            
            <div class="social">
                <a href="https://github.com/aluiziomonteiro" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/aluizio-monteiro" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.youtube.com/channel/UCYptFbGwLhrop_S86HLBgfg" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="direita">
        <img class="img-login" src="../../assets/img/login-bg.jpg" alt="imagem estática">
    </div>
    
</div>
